/* elements */
body {
    padding-top:10px;
    background-color:#D4D4D4;
    text-align: center;
}

table {
    width: 85%;
    display: block;
    margin-top:0px;
    overflow-x: auto;
    overflow-y: auto;
    background-color:#5F5D63;
    margin-left: auto;
    margin-right: auto;
    border: 3px outset #999999;
    border-spacing: 10px;
}

thead {
    display: block;
    width: 100%;
    height: 70px;
}

tbody {
    height: auto;
    display: block;
    width: 100%;
}

tr {
    color: black;
    background-color:#D4D4D4;
}

td {
    padding: 5px;
    text-align: center;
}

th {
    width: 33%;
    padding: 5px;
    text-align: center;
}

textarea {
    resize: none;
    background-color:#D4D4D4;
}

/* classes */

.input th {
    width: 1600px; 
}

/* ids */

#auto td {
    width: 50%;
}

#teleop td {
    width: 33%;
}

#post td {
    width: 50%;
}

#robotPic {
    position: absolute;
    top: 18px;
    right: 25px;
}

#start {
    height: 100px;
    width: 200px;
    font-size: 25px;
}

.large {
    font-size: 1.5em;
    font-weight: bold;
}

.heading {
    font-size: 2.5em;
    font-weight: bold;
}