body {
    padding-top:10px;
    background-color:#D4D4D4;
}

h1 {
    color:wheat;
}

p  {
    color:aqua;
}

table {
    display: block;
    margin-top:0px;
    overflow-x: auto;
    overflow-y: auto;
    background-color:#5F5D63;
    
}

thead {
    display: block;
    width: 100%;
    height: 70px;
}

tbody {
    height: auto;
    display: block;
    width: 100%;
}

tr {
    color: black;
    background-color:#D4D4D4;
}

td {
    padding: auto;
    text-align: center;
}

th {
    width: 33%;
    padding: auto;
    text-align: center;
}

.col1 {
    width: 100px;
}

.col2 {
    width: 1600px;
}

.col3 {
    width: 750px;
}

.col4 {
    width: 533px;
}

textarea {
    resize: none;
    background-color:#D4D4D4;
}

#robotPic {
    position: absolute;
    top: 18px;
    right: 25px;
}